<div class="form main-form" ng-controller="AuthCtrl" ng-class="($state.is('auth.register')) ? 'register-form' : ''">
    <div class="login-form__left" ui-view></div>
    <div class="login-form__center">
        <p>or</p>
    </div>
    <div class="row login-form__right ">
        <div class="social_wrap" ng-class="{bigger:socialButtonsCounter > 4 && !global.registerForm}">
            <ul class="social">
                <li class="social_icon social_icon_linkedin">
                    <a target="_self" ng-href="/api/auth/linkedin" class="button">
                        <span class="text-capitalize">Log In With linkedin</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</div>
